#bodyWrapper{overflow: hidden;}

/*             boxes in Header              */
#back-top {
    position: fixed;
    bottom: 290px;
    text-align:right;
    right:25px;
    z-index: 999
}
#back-top a {
    width: 49px;
    height:49px;
    display: block;
    background: url(../dresscode_images/arrow3.png) no-repeat center center;
    opacity: 0.4;
}

#header{
    padding-top: 35px;
    height: auto;
    text-align: left;
    background-color:#262626
}
#storeLogo{margin-top: 0}
.phone, .phone a, a.phone[href^=tel]:link, .phone a[href^=tel]:link{
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    line-height:1em;
    color:#fff !important;
    float: left;
    padding-top: 5px;
    margin-right: 20px;
}

.currency, .language {
    float: left;
    margin:0 10px 0 0;
}

.currency{
    margin:0 50px 0 0;
}



.currency a, .language a {
    display: block;
    float:left;
    text-align:center;
    margin-right:2px;
    width:28px;
    height:27px;
    background-color:#070707;
    font: 12px/27px Arial, Helvetica, sans-serif;
    color:#fff;
    text-decoration:none;
}


.currency a:hover, .currency a.selected, .language a:hover, .language a.selected {
    background-color:#3e3e3e;
}

.currency a{padding-left: 2px;padding-right: 2px;padding-top: 1px}

.language a{margin-top: 1px}

/*shopping cart box*/

.shopping_cart {
    position: relative;
    float: right;
    z-index: 100000 !important;
}

.shopping_cart > .shopping_cart_b > .cart_wrapper{
    font: 12px/27px Arial, Helvetica, sans-serif;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    display:block


}

.shopping_cart .cart_link{
    display: block;
    float: left;
    font: 12px/27px Arial,Helvetica,sans-serif;
    padding-right: 3px;
    color:#fff;
}
.shopping_cart .open{
    float: left;
    cursor: pointer;
    background:url(../dresscode_images/arrow.png) no-repeat right 9px;
    padding-right:32px;
}

.shopping_cart span {
    color:#8d8d8d;
}

.shopping_cart span.price {
    color:#fff;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif
}

.shopping_cart .total span.price {
    color: #AEAEAE
}





#shopping_cart_mini {
    background-color: #3E3E3E;
    color: #EEEEEE;
    display: none;
    position: absolute;
    right: 0;
    top: 23px;
    width: 242px;
}



#shopping_cart_mini p.empty {

    padding:5px 0 10px 6px

}

#shopping_cart_mini .inner-wrapper {

    padding: 4px 7px 0;

}

#shopping_cart_mini .item{
    background-color: #323232;
    border-bottom: 1px solid #3E3E3E
}



#shopping_cart_mini .item a{color: #fff}

#shopping_cart_mini .item{

    font-size: 12px;

    line-height: 24px;

    font-family: arial;

    color: #AEAEAE

}



#shopping_cart_mini .total{
    background-color: #484848;
    color: #FFFFFF;
    font-weight: bold;
    height: 31px;
    line-height: 32px;
    margin-bottom: 6px;
    padding-right: 15px;
    text-align:right;
    text-transform: uppercase;
    font-family: arial;
    font-size: 12px
}



#shopping_cart_mini .total .price{
   color: #fff;
    font-weight: normal;
    text-transform: none
}



#shopping_cart_mini .button {
    float: right;
    margin-left: 5px;
    text-transform: uppercase;
    background: #D80000;
    border: none;
    color: #D4D4D4  !important;
    display: inline-block;

    font-size: 12px;

    font-weight: bold;

    text-decoration: none;

    cursor: pointer;

    margin-bottom: 10px;

    line-height: normal;

    padding: 6px 10px;

    font-family:  Arial, Helvetica, sans-serif;

}



/*end shopping cart box*/



/* header nav menu*/

#nav_first .visible_on{display: block}



#nav_first #nav_block_head{

    position:relative;

    left:0px;

    top:0px;

    display:none ;

    font-size: 12px;

    font-family: arial

}

#nav_first .nav_block_head_field{
    width: 145px;
    padding-left:10px;
    background-color: #2F2F2F;
    float:left;
    height:36px;
    color: #868686;
    outline: none;
    text-decoration: none;
    line-height:36px;
    cursor:pointer
}

#nav_first .nav_block_head_button{
    background: url(../dresscode_images/select-icons1.png) 10px 15px no-repeat #2F2F2F;
    display: block;
    float:left;
    height: 36px;
    outline: none;
    width: 30px;
    cursor:pointer
}

#nav_first .nav_block_dropdown{
    display:block;
}



#nav_first .nav_block_dropdown li {
    float: left;
    margin:0;
    padding:0;

}

#nav_first .nav_block_dropdown a {
    padding-right:20px;
    font:12px/36px Arial, Helvetica, sans-serif;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
}

#nav_first .nav_block_dropdown a:hover{text-decoration: underline}
#nav_first .nav_block_dropdown li.last a {	border-bottom: none;padding-right: 0}

/* header nav menu*/


/* layers for all pages*/

/* layers for main page*/
.default_page .et-content-bg,
.product_info_page .et-content-bg{
    text-align: left;
    padding-top: 20px;
}
.product_page{margin-bottom: 20px}

.main_part_wrapper{float: right !important;}
.product_info_page_central{margin-top: 22px}
/*box search in header*/

#header input[type="text"],
#header input[type="password"],
#header input[type="email"],
#header textarea,
#header select {
    border: none;
    padding: 8px 10px;
    outline: none !important;
    font: 12px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #868686;
    margin: 0;
    width: 200px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #2F2F2F;
}

#header select {
    padding: 0;
}



#search, #search_dresscode {
    width: 200px;
    position:absolute;
    top:0;
    left:20px;
    z-index:51000 !important;
}

#search input[type=text], #search_dresscode input[type=text] {
    width:160px;
    padding:0 10px 0 10px;
    height:36px;
}

#search input[type="submit"], #search_dresscode input[type="submit"] {
    padding: 0;margin: 0;
    border: none;
    position:absolute;
    z-index: 99999;
    cursor: pointer;

    width:21px;
    height:36px;
    background-image:url(../dresscode_images/arrow1.png);
    background-position:1px 1px;
    background-repeat:no-repeat;
    background-color:#ff0000;
    position:absolute;
    right:-20px;
    text-indent:-2000px

}



#select_top {
    float:right;
    position:relative;
    width: auto;
}

#select_top_nav {
    width: auto;
    float: left;
}

#select_main_nav {
    width:200px;
    text-align:left
}


#header input[type="text"], #header input[type="password"], #header input[type="email"], #header textarea, #header select, #search, #search_shopomania, #select_top .sbHolder{
    width: 181px
}


.shopping_cart, #select_top{right: 10px}

/*end box search in header*/

/* select box */



#select_top .sbHolder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 36px;
    position: relative;
    width: 240px;
    z-index:50000;
}

#select_top .sbHolder:focus .sbSelector {

}

#select_top .sbSelector {
    display: block;
    height: 36px;
    left: 48px;
    line-height: 36px;
    outline: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    width:0;
    background:url(../dresscode_images/arrow1.png) no-repeat right 0 #2f2f2f;
}

#select_top .sbSelector:link, #select_top .sbSelector:visited, #select_top .sbSelector:hover {
    color: #868686;
    outline: none;
    text-decoration: none;

}

#select_top .sbToggle {
    background: url(../dresscode_images/select-icons.png) 10px 4px no-repeat #2f2f2f;
    display: block;
    height: 36px;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;

}

#select_top .sbHolderDisabled {
    background-color: #3C3C3C;
}


#select_top .sbOptions {
    background-color: #2f2f2f;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 10px 0 0 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
}

#select_top .sbOptions li {
    padding: 0 10px;
    margin-bottom: 8px
}

#select_top .sbOptions a {
    border-bottom: dotted 1px #515151;
    display: block;
    outline: none;
    padding: 0 0 6px 38px;
    line-height:18px;
    height:auto;
}

#select_top .sbOptions a:link, #select_top .sbOptions a:visited {
    color: #868686;
    text-decoration: none;
}

#select_top .sbOptions a:hover, #select_top .sbOptions a:focus, #select_top .sbOptions a.sbFocus {
    color: #fff;
}

#select_top .sbOptions li.last a {
    border-bottom: none;
}

#select_top .sbOptions .sbDisabled {
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;

}

#select_top .sbOptions .sbGroup {
    border-bottom: dotted 1px #515151;
    display: block;
    font-weight: bold;
}

#select_top .sbOptions .sbSub {
    padding-left: 17px;
}

#select_top_nav .sbHolder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height:36px;
    position: relative;
    width: 185px;
    z-index:52000;
}
#select_top_nav .sbSelector {
    display: block;
    height: 36px;
    right: 30px;
    line-height: 36px;
    outline: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 145px;
    padding-left:10px;
    background-color: #2f2f2f;
}

#select_top_nav .sbSelector:link, #select_top_nav .sbSelector:visited, #select_top_nav .sbSelector:hover {
    color: #868686;
    outline: none;
    text-decoration: none;
}

#select_top_nav .sbToggle {
    background: url(../dresscode_images/select-icons1.png) 10px 15px no-repeat #2f2f2f;
    display: block;
    height: 36px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
#select_top_nav .sbHolderDisabled {
    background-color: #3C3C3C;
}
#select_top_nav .sbOptions {
    background-color: #2f2f2f;
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    position: absolute;
    width: 185px;
    z-index: 1;
    overflow-y: auto;
}

#select_top_nav .sbOptions li {
    padding: 0 10px;
}

#select_top_nav .sbOptions a {
    border-bottom: dotted 1px #515151;
    display: block;
    outline: none;
    padding: 0 0 6px 0;
    line-height:18px;
    height:auto;

}

#select_top_nav .sbOptions a:link, #select_top_nav .sbOptions a:visited {
    color: #868686;
    text-decoration: none;

}

#select_top_nav .sbOptions a:hover, #select_top_nav .sbOptions a:focus, #select_top_nav .sbOptions a.sbFocus {
    color: #fff;
}

#select_top_nav .sbOptions li.last a {
    border-bottom: none;
}

#select_top_nav .sbOptions .sbDisabled {
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;

}

#select_top_nav .sbOptions .sbGroup {
    border-bottom: dotted 1px #515151;
    display: block;
    font-weight: bold;
}

#select_top_nav .sbOptions .sbSub {
    padding-left: 17px;
}

#select_main_nav .sbHolder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 36px;
    position: relative;
    width: 290px;
    z-index:49000;
}
#select_main_nav .sbSelector {
    display: block;
    height: 36px;
    right: 30px;
    line-height: 36px;
    outline: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 250px;
    padding-left:10px;
    background-color: #000;

}

#select_main_nav .sbSelector:link, #select_main_nav .sbSelector:visited, #select_main_nav .sbSelector:hover {
    color: #868686;
    outline: none;
    text-decoration: none;
}

#select_main_nav .sbToggle {
    background: url(../dresscode_images/select-icons1.png) 10px 16px no-repeat #000;
    display: block;
    height: 36px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
#select_main_nav .sbHolderDisabled {
    background-color: #3C3C3C;
}
#select_main_nav .sbOptions {
    background-color: #000;
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
    position: absolute;
    width: 290px;
    z-index: 1;
    overflow-y: auto;
}

#select_main_nav .sbOptions li {
    padding: 0 10px;
}

#select_main_nav .sbOptions a {
    border-bottom: dotted 1px #515151;
    display: block;
    outline: none;
    padding: 0 0 6px 0;
    line-height:18px;
    height:auto;
    color: #fff;
    font-weight:bold;
}

#select_main_nav .sbOptions a.sbSub {
    color:#999;
    font-weight:normal;
}

#select_main_nav .sbOptions a:link, #select_main_nav .sbOptions a:visited {
    text-decoration: none;
}
#select_main_nav .sbOptions a:hover, #select_main_nav .sbOptions a:focus, #select_main_nav .sbOptions a.sbFocus {
    color: #fff;
}
#select_main_nav .sbOptions li.last a {
    border-bottom: none;
}
#select_main_nav .sbOptions .sbDisabled {
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;
}

#select_main_nav .sbOptions .sbGroup {
    border-bottom: dotted 1px #515151;
    display: block;
    font-weight: bold;
    color:#fff;
    padding-bottom:5px;
}

#select_main_nav .sbOptions .sbSub {
    padding-left: 17px;
}

/*  Header Css END  */


/*   top categories  */

.nav-container #menu_block_head {
    display: none;
    font-size: 12px;
    font-family: arial
}

.nav-container .menu_block_dropdown {
    display: block;
}

.nav-container {
    background:url("../dresscode_images/nav-container.jpg") repeat-x scroll center bottom #2e2e2e;
    margin-top:12px
}

.et_categ_box{padding:0;margin:0}

.et_categ_box a, .et_categ_box a:hover, #scroll-box a, #scroll-box a:hover{
    display: inline-block;
    line-height:1.3em;
    text-decoration:none;
    position: relative;
    color: #FFF;
    padding: 0 15px;
    margin: 0;
    text-decoration: none;
    font: 12px/49px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
}



.et_categ_box a:hover, #scroll-box a:hover{
    color:#fff;
    background-color:#ff0000
}



.img_link_wrapper{
    float: left;
}

a.image-link, a:hover.image-link{
    display: block;
    background: url(../dresscode_images/icon_home.png) 17px 16px no-repeat;
    width:53px ;
    height:49px;
    padding:0;
    margin:0;
    border-left: 1px solid #191919;
}

#scroll-box{
	float:left;
	position:relative;
	left:0px;
	top:0px;
	z-index:99999;
	cursor:pointer;
}

#drop-box, .drop-box-subcat, .drop-box-subsubcat, .drop-box-3subcat, .drop-box-4subcat{
	position:absolute;
	left:0px;
	z-index:100;
	display: none;
	text-align:left;
    padding:0;
    top:49px;
    border: none;
    width:auto;
    border-top: 3px solid #FF0000;
    background: #fbfbfb;
    padding:20px 15px 20px 15px;
    -moz-box-shadow:0px 10px 15px 2px #727272;
    -webkit-box-shadow:  0px 10px 15px 2px #727272 ;
    box-shadow:  0px 10px 15px 2px #727272 ;

}

.drop-box-subsubcat, .drop-box-3subcat, .drop-box-4subcat{left:150px;top:-7px;}
.drop-box-4subcat{top:5px;}

.cat-name, .sub-cat-name, .subsub-cat-name{
	display: block;
	float:left;
	position:relative;
	left:0px;
	top:0px;
	/* z-index:9; */
}

.cat-name{
    border-left: 1px solid #191919;
}

.et_categ_box_top_line{	float:left}



#drop-box a, #drop-box a:hover, 
.drop-box-subcat a, .drop-box-subcat a:hover{
    border: none;
    font-size:12px;
	font-family:arial;
	font-weight: normal;
	display:block;
    min-width:11em;

    padding-left: 10px;
    padding-right: 10px;
    color:#2f2f2f !important;
    background: none!important;
    line-height:16px;
    padding: 6px 10px 5px;
}

#drop-box a.first, #drop-box a.first:hover, 
.drop-box-subcat a.first, .drop-box-subcat a.first:hover{
	background: none
}

#drop-box a:hover,
.drop-box-subcat a:hover {
	text-decoration: underline
}

#drop-box{padding-bottom:7px}
.drop-box-subsubcat{padding-top: 10px; top:-12px}

/* end  top categories  */
/*             Footer Css                   */

.footer_bg_color {
    background-color:#262626;
    font-family: arial;
    font-size: 12px
}

#footer_container_w {
    border-top: 5px solid #000000;
    height: 34px;
    width: 100%;}

#footer_button {
    width: 37px;
    height:23px;
    background-image:url(../dresscode_images/arrow2.png);
    background-repeat: no-repeat;
    margin:-5px auto 0;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    position:relative;
    z-index:1000;
}
#footer_button, .carousel-nav a:hover,
ul.megamenu a:hover, ul.megamenu a.content-link.mm-item-link-hover  {
    background-color:#ff0000;
}

.footer_button_down{
    background-position:0px 0px
}
.footer_button_up{
    background-position:0px -23px
}

#footer_higher {
    text-align:left;
}
#footer_higher p{margin:0 0 20px}

#footer_higher_content {
    width: 100%;
    margin: 0 auto;
    display: none;
    overflow:hidden;
    padding-bottom: 20px;
}
#footer_higher_content #deal, #footer_higher_content #contact, #footer_higher_content #twitter, #footer_higher_content #facebook{
    margin-bottom: 12px;
}
#footer_higher_content #contact a{text-transform:uppercase;text-decoration:none}
#footer_higher_content #contact a:hover{text-decoration: underline}
#footer_higher_content #contact p{margin-bottom: 11px}

#footer_higher_content strong {	text-transform:uppercase;}




#footer h3 {
    background-color: #151515;
}
#footer h3, #footer_higher h3 {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 8px;
    padding: 6px 0 8px 16px;
}
#footer_higher h3 {
    background-color: #333333;
    margin-bottom: 28px;
}
#footer_higher #contact h3{margin-bottom:14px;}


#footer_higher #twitter{
    font-family: arial;
    font-size: 12px
}

#footer_higher #twitter .box-twitter{margin-top: -15px}

#footer_higher #contact h3{margin-bottom:23px;}

.fb-like, .fb-like span, .fb-like.fb_iframe_widget span iframe,
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style]{
    width: 100% !important;
}


#footer_higher_content .product{
    margin-bottom:18px;
    font-family: arial;
    font-size: 12px
}



/* twitter */
#footer_higher #twitter h3{}
.jcarousel-skin-tango .jcarousel-container-vertical { height:310px;}
.jcarousel-skin-tango .jcarousel-clip-vertical {   height:310px;}
#mycarousel .jcarousel-item { height:90px}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.box-twitter .twitter-marker a{text-decoration: underline;font-style: italic;}
.box-twitter .twitter-marker a:hover{text-decoration:none}
.box-twitter .twitter-marker span{font-size: 12px;font-family: arial}

#footer_higher .twitter-marker p{margin: 0 0 5px}



/* twitter */
#footer {
    color: #959595;
    padding-bottom: 90px;
    text-align: left;}

#footer a {
    color:#fff;
    text-decoration:none
}
#footer a:hover {text-decoration: underline}



#footer ul{ min-height:108px}
#footer li {
    line-height: 14px;
    margin: 0;
    padding: 4px 0 4px 2px;
}
#footer li a {
    color: #959595;
    font: 12px/14px Arial,Helvetica,sans-serif;
    text-decoration: none;
    text-transform: uppercase
}
#footer li a:hover {
    text-decoration:underline;
}
#social_icons{overflow: hidden;}
#social_icons a, #payment_services span{
    float:right;
    margin-right:4px;
    display: block;
}
#social_icons a.icon_p, #payment_services span.icon_footer_discover{margin-right:0}




#copyright {
    line-height:12px;
    text-transform:uppercase;
    text-align:right !important;
    clear: both;
    margin-bottom: 9px;
    font-size: 10px;
    font-family: arial;
}

#footer #copyright a{
    font-size: 10px;
    font-family: arial;
    line-height: 12px;
    text-decoration: underline
}
#footer #copyright a:hover{text-decoration:none}


#payment_services{
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 20px
}



#payment_services span{
    display: block;
    width:30px;
    height:19px;
}

#payment_services span.icon_1{
    background: url("../dresscode_images/icon_footer_paypall.png") no-repeat;
}

#payment_services span.icon_2{
    background: url("../dresscode_images/icon_footer_visa.png") no-repeat;
}

#payment_services span.icon_3{
    background: url("../dresscode_images/icon_footer_mastercard.png") no-repeat;
}

#payment_services span.icon_4{
    background: url("../dresscode_images/icon_footer_blue.png") no-repeat;
}

#payment_services span.icon_5{
    background: url("../dresscode_images/icon_footer_discover.png") no-repeat;
    margin-right: 0!important;
}



#social_icons a{

    display: block;

    width:26px;

    height:27px;

    text-decoration: none !important;

}

#social_icons a.icon_1{

    background: url("../dresscode_images/icon_social1.png") no-repeat;

}

#social_icons a.icon_2{

    background: url("../dresscode_images/icon_social2.png") no-repeat;

}

#social_icons a.icon_3{

    background: url("../dresscode_images/icon_social3.png") no-repeat;

}

#social_icons a.icon_4{

    background: url("../dresscode_images/icon_social4.png") no-repeat;

}

#social_icons a.icon_5{

    background: url("../dresscode_images/icon_in.png") no-repeat;

}

#social_icons a.icon_6{

    background: url("../dresscode_images/icon_p.png") no-repeat;

    margin-right: 0 !important;

}


#footer_higher_content #deal, #footer_higher_content #contact, #footer_higher_content #twitter, #footer_higher_content #facebook{
    margin-bottom:30px;
}



/* newsletter in footer */

.newsletter_footer{
    clear: both;
    float: right;
    margin-bottom: 8px;
    overflow: hidden;
    padding-top: 10px;
}

.newsletter_footer_input{
    float: right;
    width: 158px;
}

.newsletter_footer_input input{
    border: none;
    padding: 6px 8px 5px 12px;
    outline: none !important;
    font-size: 12px;
    line-height: 14px;
    font-family: arial;
    color: #959595;
    margin: 0;
    width:138px;
    display: block;
    background: #2f2f2f;
    height: 25px;
    text-transform: uppercase

}

.newsletter_footer_submit{
    width:21px;
    height:36px;
    float: right;
    cursor: pointer
}

.newsletter_footer_submit button{
    background: none;
    border: none;
    display: block;
    width:21px;
    height:36px;
    cursor: pointer;
    background-image:url(../dresscode_images/arrow1.png);
    background-position:1px 1px;
    background-repeat:no-repeat;
    background-color:#ff0000;


}

.newsletter_footer_input input.input-text:focus{
    background: #2f2f2f;
}

/* newsletter in footer */



/* contact info in footer */

#contact span{

    display: block;

    width:28px ;

    height: 27px;

    background-color: #bfbfbf;

    background-repeat: no-repeat;

    margin-right:13px;

    float: left;

    margin-top: 7px;

    margin-bottom: 5px

}

#contact .contact_phone span{

    background-image:url(../dresscode_images/icon_contact_info_01.png);

}

#contact .contact_cell_phone span{

    background-image:url(../dresscode_images/icon_contact_info_02.png);
}

#contact .contact_addresses span{
    background-image:url(../dresscode_images/icon_contact_info_03.png);
    margin-bottom:8px
}

#contact .contact_skype span{
    background-image:url(../dresscode_images/icon_contact_info_04.png);
}

/* contact info in footer */

/*  Footer Css END      */

/*------------------------------------------*/
/*       infoboxes Left Css               */
.infoBox {
    margin-bottom:26px;
}
.infoBoxHeading{
    display:block;
    text-transform:uppercase;
    padding:4px 9px;
    background-color:#333333;
    margin-bottom:17px ;
    color:#fff;
    font-size:16px;
    line-height:24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.infoBoxContents{
     text-align:left;
    font-size: 12px;
    font-family: arial
}
.infoBoxHeading a, .infoBoxHeading a:hover{
    color:#fff;
    font-size:16px;
    line-height:24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.infoBoxHeading-slider-brands{display:inline-block}
.infoBoxNotifications img, .infoBoxReviews .NoReview img{display: none;}

.infoBoxWhatsNew a{text-transform: uppercase}


/*         infobox Left Css END       */


.count_3cols_col_1{clear: both;}

/*------------------------------------------*/
/*             product box Css END          */
/*------------------------------------------*/
.cat_parent, .cat_child{padding-left:16px}
.cat_parent table, .cat_child table{font-size:12px;line-height:14px}
.cat_parent a, .cat_parent a:hover, .cat_child a, .cat_child a:hover{
    font-size:12px;
    text-decoration:none;
    color:#000;
    display:block;
    font-weight:bold;
    text-transform: uppercase
}

.cat_child a, .cat_child a:hover{text-transform:uppercase;font-weight: normal}
.cat_parent, .cat_child{color:#000;text-align:left}
.cat_parent a, .cat_parent a:hover, .cat_child a, .cat_child a:hover{
    display:block;
    padding:7px 0px 7px 0px;
    font-size:12px;
}

.cat_parent{
    background:url(../dresscode_images/bkg_block-layered-dt.gif) 0px 12px no-repeat
}
.cat_parent a, .cat_parent a:hover, .cat_parent .active_cat, .cat_child a:hover{color:#000;font-weight:bold}
.cat_parent a:hover, .cat_parent .active_cat, .cat_child a:hover{text-decoration: underline}
.cat_child a:hover{font-weight: normal;background:none}
.cat_child .active_cat, .cat_child a.active_cat:hover{font-weight:bold}
.cat_child>.space_cat>.space_cat{width:1px}
.active_cat label, .cat_parent label{font-weight: normal}
.space_cat{display: block;float:left;width:8px; height:17px;text-decoration:none; }

/**********lists************/


/* end intro category box*/

.infoBox_list{
	list-style:none;
	margin:8px 0 0;
	padding:0px 0px 0px 0px;
    text-align: left
}

.infoBox_list li {
	list-style:none;
	margin:0px;
	padding:3px 0px 0px 15px;
	background:url(../dresscode_images/bkg_block-layered-dt.gif) 0px 10px no-repeat;
    text-transform: uppercase;
    line-height: 20px
}
.infoBox_list li a{
    font-family: arial;
    font-size: 12px;
    line-height: 14px
}


/* for bestsellers*/
ol li{
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  line-height:24px
}

ol li a, ol li a:hover{
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal
}







ol{

  margin: 0;

  padding:0px 0px 2px 17px;

}



/*end for bestsellers*/









.options_form select{padding-right:1px;padding-bottom:1px}


/**********fonts************/

.contentContainer h2 {
	margin: 0;
	padding:5px 0px 5px 3px;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
  	font:12px/15px Arial, Helvetica, sans-serif;
  	line-height: 1.5;
}
h2.review_author{padding-top: 5px}
.review_author a{text-decoration: underline}
.review_author a:hover{text-decoration:none}



/**********also purs products************/
#also_purchased{
    margin-left: -10px;
    margin-right: -10px;
    clear: both;
}
#also_purchased .product .product-price {
    padding-left: 8px;
}
h1.also_pursh_title {
    clear: both;
    margin-top:13px;
    background-color: #333333;
    color: #FFFFFF ;
    padding:2px 10px 0;
    float: left;
    font-weight:normal;
}

#also_purchased .product .product-price .new_price, #also_purchased .product .product-price .new_price s{padding-left: 0}
/**********end also purs products************/



/**********spaces************/
.padding_bottom_1{ padding-bottom:13px}
.padding_right_1{ padding-right:30px}
.padding_top_1{ padding-top:42px}
.padding_top_2{padding-top:15px}
.padding_sc_1{margin-top:18px}
.padding_sc_3{margin-top:16px}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    .padding_sc_3{margin-top:17px}
}

.space_1{ line-height:18px}
.space_2{ line-height:6px}
.space_3{ line-height:1px}
.space_4{ line-height:13px}

.padding0{padding:0;margin:0}
.padding_pages_2{padding:0px 0px 0px 5px}

.form_1{position:absolute; 	top:0px;right:0px;}
.form_1 SELECT {  padding-right: 1px;  width: 120px;}
.img_1{padding-right:21px}
.vertical{ vertical-align:middle}

INPUT{  margin-right:8px;}
 .contentText .fieldValue input{margin-right: 0}

/*------------------------------------------*/
/*             Template Css End             */
/*------------------------------------------*/
.moduleRowOver, .productsNotifications, .moduleRowSelected{ background-color: #333333; color:#FFFFFF}

/* query 333333*/
.ui-widget-content1 { border: 1px solid #333333;  color: #222222; }
.ui-widget-header1 { border: 1px solid #333333; background-color: #333333; font-weight: bold; }
.ui-widget-content2 { border: 1px solid #333333;  color: #222222; }
.ui-widget-contentAdm { border: 1px solid #333333;  color: #222222; background-color:#fff }
.ui-widget-content{border: 1px solid #333333;  color: #222222; background-color:#fff }
.ui-widget-content a {color: #222222; }
.ui-widget-header { border: 1px solid #333333; background: #333333; font-weight: bold; }
.ui-widget-header a { color: #333333}

/* for default boxes */

/* breadcrumbs*/

.breadcrumbs_box{
    font-size:12px;
    line-height:1.25;
    border-bottom:1px solid #e5e5e5;
    padding:0 0 16px;
    font-family: arial;
    text-transform: uppercase;
    color: #767676

}



.headerNavigation, A.headerNavigation:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #767676;
  font-weight: normal;
  text-transform:uppercase
}



.breadcrumbs_box .headerNavigation1{
	font-size:12px;
	color: #767676;
    font-weight: normal;
    text-transform:uppercase;
    background:url(../dresscode_images/marker_breadcrumbs.gif) right 5px no-repeat;
	margin-right:10px;
	padding-right:10px
}

.breadcrumbs_box .headerNavigation{margin-right:12px}



.headerNavigation1, A.headerNavigation1:hover { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
}
.headerNavigation1:hover {  text-decoration: underline}

/*end breadcrumbs*/



/*from default styles*/
.contentContainer {
    padding-bottom: 0px;
    position:relative;
    top:0px;
    left:0px;
    font-family: arial;
    font-size: 12px;
    color: #333333
}

#columnLeft, #columnRight,
.main_part_wrapper{
    padding-top: 0px;
    margin-top: 24px !important;
}


.inputRequirement { font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #FF0000}
.buttonSet, .buttonAction{padding-bottom:12px}


h1 {
 	border: 0;
	outline: 0;
	font-size: 100%;
	margin:0 0 20px;
	vertical-align: baseline;
	background: transparent;
	line-height:31px;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#000;
    text-transform:uppercase;
    font-weight: bold;
}

.et_other_style h1 {margin:0px 0px 0px 2px}
.orderEdit { font-family: Arial, Helvetica, sans-serif  ; font-size : 10px;color: #000; text-decoration: underline; }
.contentText, .contentText table {  padding: 0;  font-size: 12px;  line-height: 1.5;}

.checkoutBarFrom, .checkoutBarTo { font-family: Arial, Helvetica, sans-serif; font-size: 12px}
.checkoutBarCurrent { font-family: Arial, Helvetica, sans-serif; font-size: 12px;color:#000}
.contConteiner_listing{margin-left: -10px;margin-right: -10px}

.no_products{margin-left:10px}

/*end from default styles*/



/* classes for prices*/
.addit_box{	width:10px;	height:250px	}
.font_normal{	font-weight:normal	}

.space_slider{ line-height:5px}
.span_1{ display: block;padding-top:3px;float:left}
.span_2{ display: block;float: right}
.span_3{line-height:8px;display:block; height:8px; clear:both}
.margin_bottom_1 {
    margin-bottom: 27px;
}


/* shop cart box*/

.prodInfoInCart, .prodInfoInCart:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}



.priceInCart, .newItemInCart{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}



/* product page */

.prod_info_name{
    margin-bottom: 20px;
    border-bottom:1px solid #d7d7d7;
}

.prod_info_price{
    background: url("../dresscode_images/product_page_price.gif") repeat-x scroll center bottom #FEFEFE;
    border: 1px solid #EFEFEF;
    padding:6px 2% 9px;
    text-align: center;
    width: 50%;
    margin-bottom:25px;
    font: 26px/26px Tahoma,Geneva,sans-serif
}
.prod_info_name_price .prod_info_price s{padding: 0}
.product_reviews_page .prod_info_name_price .prod_info_price s{padding-top: 8px}

.product_reviews_page .prod_info_price .new_price .new_price,
.product_reviews_write_page .prod_info_price .new_price .new_price,
.product_reviews_info_page .prod_info_price .new_price .new_price{
    display: none;
}


.prod_info_name h1, .prod_info_price h1{
    background:none;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px
}
.prod_info_price .productSpecialPrice1, .prod_info_price s{
	color: #FF0000;
    line-height:23px;
	font-size:26px;
    display: inline-block;
}

.prod_info_price s,
.prod_info_price .new_price del,
.prod_info_price h1 del{
    color:#000;
    font-size:18px;
    font-weight: normal;
    line-height: 18px
}

.product_img_wrapper{
    float:left;
    width: 280px;
}


.product_info_wrapper{
    margin-left: 300px;
    float: none;
    width: auto;
    padding-bottom:10px
}
.product_description{
    margin-bottom: 20px
}


.socials_plugins{
    overflow: hidden;
    margin-bottom: 15px
}

.socials_plugins .google{
    float: left;
    width:80px;
    clear:both
}
.socials_plugins .facebook{
    float: left;
    width:90px
}
.socials_plugins .twitter{
    float: left;

}

.product_reviews_date, .product_reviews_pager{
   margin-top: 20px
}

.reviews_author a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline
}
.reviews_author a:hover{
    text-decoration:none
}
.product_reviews_write_page .fieldKey{
    font-size: 12px;
    width:80px
}
.product_reviews_write_page .contentText table{width: 100%}


.reviews_page .reviews_wrapper{
    margin-bottom: 20px
}


/* CUSTOM BLOCK */
.product_info_wrapper .left_info {
    float: left;
    width: 70%;
}

.product_info_wrapper .dresscode_product_custom_block{
    float:right;
    width:24%;
    text-align: center ;
    padding:2%;
    border: 1px solid #f2f2f2;
    padding-bottom: 0
}
.product_info_wrapper .dresscode_product_custom_block_title{
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    line-height: 22px;
    padding-top: 9px;
    padding-bottom: 20px
}
.product_info_wrapper .dresscode_product_custom_block_subtitle{
    font-size: 12px;
    font-family: arial;
    color: #000;
    text-transform: uppercase;
    line-height: 15px ;
    padding-bottom: 20px
}
.product_info_wrapper .dresscode_product_custom_block_img{
    width:198px ;
    height:325px ;
    display: block;
}
.custom_block_items{
    margin: 0;
    padding: 0;
}
.custom_block_items caption, .custom_block_items th, .custom_block_items td{
    vertical-align: middle !important;
}
.custom_block_items table{border: none;padding: 0;margin: 0}

.custom_block_items td{   height: 47px }

.custom_block_items .custom_block_item{
    color: #3e3e3e;
    font-family: arial;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0px 0px 0px 56px;
    text-align: left;
    min-height: 47px;
    margin-bottom: 18px
}
.custom_block_items .custom_block_item_1{
    background:url(../dresscode_images/custom_block_item_1.png) 0px 0px no-repeat;
}
.custom_block_items .custom_block_item_2{
    background:url(../dresscode_images/custom_block_item_2.png) 0px 0px no-repeat;
}
.custom_block_items .custom_block_item_3{
    background:url(../dresscode_images/custom_block_item_3.png) 0px 0px no-repeat;
}
.custom_block_items .custom_block_item_4{
    background:url(../dresscode_images/custom_block_item_4.png) 0px 0px no-repeat;
}


/* CUSTOM BLOCK */


/* product page */

.shoppingcart_img{width:100px;height: auto; }

/*  gallery */
.ui-icon { background-color: #000;    background-image: none;	width:5px;	height:5px;	margin-top:7px}
.ui-dialog .ui-icon{background-color:#FFFFFF}

.contentText p a, .contentText p a:hover, .contact_link a, .contact_link a:hover,
.padding_sc_3 a, .padding_sc_3 a:hover{
    font-weight:bold
}


.buttonSet {padding-top: 10px}



/* pager*/

.et_pager{color:#4b4b4b;font-size:12px;clear: both;}

A.pageResults, A.pageResults:hover {
    color: #4b4b4b;
	text-decoration: underline;
	font-size:12px
}

.et_pager strong{color:#4b4b4b;font-size:12px}
.et_pager label{color:#4b4b4b}


.pageResults u{text-decoration:none}


A.pageResults:hover {  background: none;  text-decoration:none}



.messageStackError, .messageStackWarning, .messageStackSuccess {
    color: #4b4b4b;
    border-bottom: 10px solid #fff
}



.stockWarning, SPAN.markProductOutOfStock{color: #FF0000}

.ui-widget{margin-left:10px}

/*------------------------------------------*/
/*            some default blocks           */
/*------------------------------------------*/
.et_box_reviews_default .et_box_cont_new table.ui-widget-content{width: 100%}
.et_box_reviews_default .et_box_cont_new table.ui-widget-content td a img{display: none;}

/*------------------------------------------*/
/*            buttons 				        */
/*------------------------------------------*/


.dresscode_button, .dresscode_submit {
    background: #d11717;
    color:#fff;
    border: 2px solid #eee;
    min-height:14px;
    overflow: hidden;
    display: block;
    text-align: center;
    line-height:16px;
    text-transform: uppercase;
    padding: 7px 7px 6px 7px;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    float: left;
    margin-top: 10px;
    font-weight: normal !important;

    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
}


.dresscode_button:hover, .dresscode_submit:hover {
    background-color: #ff3434;
    text-decoration:none !important;
    color:#fff !important;
    font-weight: normal;
}

.product_reviews_page .dresscode_button, .product_reviews_page .dresscode_submit,
.product_reviews_info_page .dresscode_button, .product_reviews_info_page .dresscode_submit,
.product_info_wrapper .dresscode_button, .product_info_wrapper .dresscode_submit{
    margin-left: 20px;
    float:right;
}

/*   buttons   */

/* brands slider */
.brands.carouFredSel {
    position:relative;
    margin-bottom: 40px;
}
.brands.carouFredSel .slides {
    margin:18px 0 0 0;
    padding:0;
    list-style-type:none;
    overflow:hidden
}
.brands.carouFredSel .slides li {
    margin:0 15px;
    padding:0;
    min-height:60px;
    float:left;
}
.brands.carouFredSel .slides img {
    max-width: 100%;
}
.brands.carouFredSel .carouFredSel-controls {
    position:absolute;
    margin:0;
    right:5px;
    top:-22px;
    padding-bottom:20px;
}
.brands.carouFredSel:hover .carouFredSel-controls {
    opacity: 1;
}
.brands.carouFredSel .carouFredSel-controls .carouFredSel-buttons a {
    position:absolute;
    top:-30px;
    right:48px;
    background:url(../dresscode_images/nav.png) no-repeat top left #4c4c4c;
    width:32px;
    height:31px;
    margin-top:-13px;
    text-indent:-9000px;
    cursor:pointer;
}
.brands.carouFredSel .carouFredSel-controls .carouFredSel-buttons a.next {
    right:12px;
    left:auto;
    background-position:top right;
}
.brands.carouFredSel .carouFredSel-controls .carouFredSel-buttons a:hover {
    background-color:#ff0000
}
/* end brands slider */


/* blog slide */
.from-blog.carouFredSel {
    position:relative;
    background:rgba(0, 0, 0, 0.6);
    padding: 45px 25px 45px;
    margin-bottom:50px;

}
.from-blog.carouFredSel .slides {
    margin:0;
    padding:0;
    list-style-type:none;
    overflow:hidden
}
.from-blog.carouFredSel .slides li {
    margin:0;
    padding:0;
    min-height:180px;
    float:left;
}
.from-blog.carouFredSel .slides li .image {
    text-align: center;
    width:40%;
    margin-right:5%;
    float:left;
}
.from-blog.carouFredSel .slides li .text {
    color:#fff;
    font-size:13px;
    line-height: 18px;
    width:55%;
    float:right;
    font:12px/20px Arial, Helvetica, sans-serif
}
.from-blog.carouFredSel .slides li .text h5 {
    color:#fff;
    font-size:16px;
    padding-top:0;
    text-transform: uppercase;
}
.from-blog.carouFredSel .slides li .text .date {
    font-size:12px;
    margin-bottom: 10px;
}
.from-blog.carouFredSel .slides li .text .date a {
    color:#fff;
    text-decoration: none;
}
.from-blog.carouFredSel .slides li .text .date a:hover {
    text-decoration: underline;
}
.from-blog.carouFredSel .slides img {
    max-width: 100%;
}
.from-blog.carouFredSel .carouFredSel-controls {
    position:absolute;
    margin:0;
    left:0;
    top:50%;
    width:100%;
    padding-bottom:20px;
    z-index: 1000;
}
.from-blog.carouFredSel:hover .carouFredSel-controls {
    opacity: 1;
}
.from-blog.carouFredSel .carouFredSel-controls .carouFredSel-buttons a {
    position:absolute;
    top:0;
    left:-80px;
    background:url(../dresscode_images/nav-big.png) no-repeat top left rgba(0, 0, 0, 0.6);
    width:62px;
    height:60px;
    margin-top:-31px;
    text-indent:-9000px;
    cursor:pointer;
}
.from-blog.carouFredSel .carouFredSel-controls .carouFredSel-buttons a.next {
    right:-80px;
    left:auto;
    background-position:top right;
}
.from-blog.carouFredSel .carouFredSel-controls .carouFredSel-buttons a:hover {
    background-color:#ff0000
}
.fullwidth-block {
    width:100%;
}
.blog-widget {
    color:#d9d9d9;
    background:url(../dresscode_images/blog-back.jpg) no-repeat 50% 0 #262626;
    -webkit-backface-visibility:visible;
    overflow:hidden;
    margin: 50px 0;
    min-height:430px;
}
.blog-widget h3.title {
    font-size:36px;
    margin-bottom:50px;
    background-color:#333333;
    color:#fff;
    display:inline-block;
    padding:6px 16px 8px
}
.post {
    padding:0 0 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ececec;
}
.post_outer .post {
    margin-bottom: 10px;
    border-top: 1px solid #ececec;
    border-bottom: none;
}
.post_outer .post:first-child {
    border: none;
    padding: 5px 0 10px;
}
.post .teaser {
    text-transform: none;
    margin-bottom:8px;
    font-size:20px
}
.post .image {
    margin: 15px 0 25px;
}
.post .image img {
    max-width: 100%;
}
.post p {
    margin: 0 0 15px 0;
}
.blockquote {
    padding: 15px 15px 15px 85px;
    background: #f5f5f5;
    position: relative;
    margin-bottom: 15px;
}
.icon-4x {
    font-size: 4em;
}
.blockquote i[class*="icon-"] {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #e3e3e3;
}

/* end blog slide */

.social_icons {
    margin-bottom:10px;
    overflow: hidden;
}
.social_icons a {
    text-decoration:none;
}
.social_icons a i[class*="icon-"] {
    font-size:31px;
    line-height:31px;
    margin-right:3px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.social_icons a:hover i{text-decoration:none}
#footer .social_icons {
    text-align:right;
}

/* new product custom block */
.custom_block {
    border: 1px solid #f2f2f2;
    width: 100%;
    margin-bottom: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.custom_block .inside {
    padding: 12px;
    text-transform:uppercase;
}
.custom_block .promo_box {
    display:table;
    width:100%;
    padding: 0 0 5px;
}
.custom_block .promo_box a {
    text-decoration:none;
}
.custom_block .promo_box .icon-stack {
    font-size:30px;
    color:#dcdcdc;
    transition: color 0.25s 0s ease;
    -webkit-transition: color 0.25s 0s ease;
    -moz-transition: color 0.25s 0s ease;
    -o-transition: color 0.25s 0s ease;
    margin-right:5px;
}
.custom_block .promo_box:hover .icon-stack {
    color:#333;
}
.custom_block .promo_box span {
    display:block;
    vertical-align: middle;
    display:  table-cell;
    width: 100%;
}
.aligncenter {
    text-align: center;
}

.custom_block p{margin:0 0 15px 0}
.dresscode_product_custom_block_title{
    font-size:26px;
    line-height: 28px;
    margin:0 0 15px;
    padding:5px 0 0;
}

/* CONTACT US PAGE */
.page_contact_us input[type="text"],
.page_contact_us input[type="password"],
.page_contact_us input[type="email"],
.page_contact_us textarea {
    border: 1px solid #ececec;
    padding: 11px 10px;
    height:32px;
    outline: none !important;
    font: 12px/14px  Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0 0 10px;
    width: auto;
    max-width: 100%;
    display: block;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page_contact_us input[type="text"],
.page_contact_us input[type="email"],
.page_contact_us textarea{
    width: 100%;
}
.page_contact_us textarea{height:190px}

.page_contact_us label{
    font-family:Arial;
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}