.currency a, .language a,
#header input[type="submit"],
.et_categ_box .cat-name a.main_category,
#slogan li a span,
#footer_button,
.newsletter_footer_submit button,
#shopping_cart_mini .button,
#slogan li a{
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}


#header input[type="submit"]:hover,
#slogan li a:hover span,
#footer_button:hover,
.newsletter_footer_submit button:hover,
#shopping_cart_mini .button:hover{
    background-color:#999
}
#slogan li a:hover{color: #D80000}


/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
    border: 4px solid #888;
    margin:-4px;	/* Set this to minus the border thickness. */
    background-color:#fff;
    cursor:move;
}

/* This is for the title text. */
.cloud-zoom-title {
    font-family:Arial, Helvetica, sans-serif;
    position:absolute !important;
    background-color:#000;
    color:#fff;
    padding:3px;
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:10px;
    top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
    border:4px solid #ccc;
    overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
    color:white;
    background:#222;
    padding:3px;
    border:1px solid #000;
}

.cloudzoom_gallery .gallery_bigimg{
    margin-bottom:5px;
    border: 1px solid #D7D7D7
}
.cloudzoom_gallery .gallery_bigimg img{
    width:100%;
    height: auto;
}

.cloudzoom_gallery .gallery_smallimg{
    float: left;
    margin: 0px 5px 5px 0px;
    overflow: hidden;
}

.cloudzoom_gallery .gallery_smallimg img{
    width:88px;
    height: auto;
    border: 1px solid #D7D7D7
}
.cloudzoom_gallery .gallery_smallimg_wrapper{
    margin-right: -5px
}

.cloudzoom_border{
    border: 1px solid #D7D7D7;
    float: none;
}

.gallery_note{
    text-transform: uppercase;
    padding:15px 0px 18px 0px;
    text-align: center
}













