/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
@media only screen and (min-width: 1200px){
    #select_top{

    }
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {

    #select_top{
       float: left;
    }

    #slogan li {
        margin: 0 60px;
    }



}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

    .phone {display:none;}
    #select_top_nav {display: block;}


    #nav_first {
        position:relative;
        left:0px;
        top:0px;
        width:185px;
        float:left
    }

    #nav_first #nav_block_head{display: block}
    #nav_first .nav_block_dropdown{
        background-color: #2f2f2f;
        list-style: none;
        margin: 0;
        padding: 10px 0 0 0;
        width: 185px;
        display:none;
        position:absolute;
        top:36px;
        left:0px;
        z-index:999999;
        display: none

    }
    #nav_first .nav_block_dropdown li {
        padding: 0 10px;
        float:none;
    }
    #nav_first .nav_block_dropdown a {
        border-bottom: dotted 1px #515151;
        display: block;
        outline: none;
        padding: 0 0 6px 0;
        line-height:18px;
        height:auto;
        color: #868686;
        text-decoration: none;
        text-transform:none;
        font-size:12px
    }
    #nav_first .nav_block_dropdown a:hover{	color: #fff;text-decoration:none !important}
    #nav_first .nav_block_dropdown li.last a {	border-bottom: none;}

    #nav_first .visible_on{display: block}


    #slogan li {
        margin: 0 15px;
    }




}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

    .newsletter_footer_input{
        width: 150px;
    }
    .newsletter_footer_input input{
        padding: 6px 0px 5px 12px;
        width:138px;
    }


    #social_icons a, #payment_services span{margin-right: 3px}



    .product_reviews_page .dresscode_button, .product_reviews_page .dresscode_submit,
    .product_reviews_info_page .dresscode_button, .product_reviews_info_page .dresscode_submit,
    .product_reviews_write_page .dresscode_button, .product_reviews_write_page .dresscode_submit{
        float: none;
        margin-left: 0
    }
    .product_reviews_write_page .dresscode_submit{
        width: 100%
    }

    .product_info_wrapper .dresscode_product_custom_block{
        display: none;
    }

    .product_info_wrapper .left_info{width: 100%}






}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .shopping_cart, #select_top{right: 0px}

    .tabs {
        margin:5px 0 0 0;
        padding-bottom:70px;
    }

    #slider_top {
        height: 235px;
    }

    .product_info_wrapper .dresscode_product_custom_block{
        display: none;
    }
    .product_info_wrapper .left_info{width: 100%}
    .prod_info_price{width:auto;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .shopping_cart, #select_top{right: 0px}
    .img_link_wrapper{
        display: none;
    }
    .currency {
        margin: 0 10px 0 0;
    }

    .padding-2 {
        padding-top:10px;
    }
    .shopping_cart > .shopping_cart_b > a {
        padding-right:10px;
    }


    .product-tabs li{display: block;}
    .product-tabs li {margin-right: 0}

    .es-nav span{
        right:41px;
    }
    .es-nav span.es-nav-next{
        right:5px;
    }

    .tabs {
        padding-bottom:41px;
    }

    #select_top{display: block}
    #select_top .sbHolder{width: 220px}


    .nav-container{
        text-align:left;
        background: none;
        margin-top: 0
    }
    .nav-container #menu_block_head{display: block}
    .nav-container  .nav_block_head_field{
        width:250px;
        padding-left:10px;
        background-color: #000000;
        float:left;
        height:36px;
        color: #868686;
        outline: none;
        text-decoration: none;
        line-height:36px;
        cursor:pointer
    }
    .nav-container .menu_block_head_button{
        background: url(../dresscode_images/select-icons1.png) 10px 15px no-repeat #000;
        display: block;
        float:left;
        height: 36px;
        outline: none;
        width: 30px;
        cursor:pointer
    }
    .nav-container .menu_block_dropdown{
        background-color: #000;
        list-style: none;
        margin: 0;
        padding: 15px 0 0 0;
        width: 290px;
        display:none;
        position:relative;
        top:0;
        left:0;
        z-index:99999;
    }
    .nav-container .menu_block_dropdown .et_categ_box{padding:0 10px 20px}
    .nav-container .menu_block_dropdown .cat-name{
        float:none;
        display:block;
        border:none
    }
    .nav-container .menu_block_dropdown .et_categ_box a {
        display: block;
        outline: none;
        height:auto;
        color: #fff;
        text-decoration: none;
        text-transform:none;
        font-size:12px;
        float:none;
        padding:6px 0 6px 10px;
        border-bottom: dotted 1px #515151;
        line-height: 18px;
        font-weight:bold
    }
    .nav-container .visible_on{display: block}
    .cat-name, .sub-cat-name, .subsub-cat-name{float: none;}
    #drop-box, .drop-box-subcat, .drop-box-subsubcat, .drop-box-3subcat, .drop-box-4subcat{
        position: static;
        display: block !important;
        border: none;
        background: none;
        box-shadow: none;
        padding-top: 0;
        padding-bottom: 0
    }
    .nav-container .menu_block_dropdown .et_categ_box .sub-cat-name a,
    .nav-container .menu_block_dropdown .et_categ_box .subsub-cat-name a{color: #fff !important;font-weight: normal;}
    .nav-container .menu_block_dropdown .et_categ_box .sub-cat-name a:hover,
    .nav-container .menu_block_dropdown .et_categ_box .subsub-cat-name a:hover{text-decoration: underline}


    .drop-box-subcat{padding-left: 0;padding-right: 0}
    .drop-box-subcat .sub-cat-name, .drop-box-subcat .subsub-cat-name{padding-left: 10px}

    .nav-container .menu_block_dropdown .et_categ_box .cat-name a{border: none}
    .nav-container .menu_block_dropdown .et_categ_box a:hover{border: none;background-color:#FF0000;color: #fff !important;}
    #drop-box, .drop-box-subcat, .drop-box-subsubcat, .drop-box-3subcat, .drop-box-4subcat{border: none!important;}

    .nav-container .menu_block_dropdown .et_categ_box .drop-box-subcat .sub-cat-name a,
    .nav-container .menu_block_dropdown .et_categ_box .drop-box-subcat .subsub-cat-name a{border:none}

    .product_page p{clear: both !important;}

    .prod_info_price{text-align: left}
    .prod_info_name h1{margin-bottom: 0}
    #piGal{float: left;margin-right: 10px}


    .count_3cols_col_1{clear:none;}
    .count_2cols_col_1{clear: both;}
    .product_info_wrapper{
        clear: both;
        margin-left:0;
        padding-top: 20px
    }



    #header input[type="text"], #header input[type="password"], #header input[type="email"], #header textarea, #header select{
        margin: 0
    }

    .buttonAction{float: left;}
    .product_reviews_page .dresscode_button, .product_reviews_page .dresscode_submit,
    .product_reviews_info_page .dresscode_button, .product_reviews_info_page .dresscode_submit,
    .product_info_wrapper .dresscode_button, .product_info_wrapper .dresscode_submit{
        margin-left: 0;
        margin-right: 10px
    }

    .product_info_wrapper .dresscode_product_custom_block{
        display: none;
    }
    .product_info_wrapper .left_info{width: 100%}
    .prod_info_price{width:auto;}
    .product_img_wrapper{
        float: none;
        margin: 0 auto;
        width: 80%
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    #slider_top,
    .img_link_wrapper{
        display: none !important
    }

    .nav-container{
        text-align:left;
        background: none;
        margin-top: 0
    }
    .nav-container #menu_block_head{display: block}
    .nav-container  .nav_block_head_field{
        width:250px;
        padding-left:10px;
        background-color: #000000;
        float:left;
        height:36px;
        color: #868686;
        outline: none;
        text-decoration: none;
        line-height:36px;
        cursor:pointer
    }
    .nav-container .menu_block_head_button{
        background: url(../dresscode_images/select-icons1.png) 10px 15px no-repeat #000;
        display: block;
        float:left;
        height: 36px;
        outline: none;
        width: 30px;
        cursor:pointer
    }
    .nav-container .menu_block_dropdown{
        background-color: #000;
        list-style: none;
        margin: 0;
        padding: 15px 0 0 0;
        width: 290px;
        display:none;
        position:relative;
        top:0;
        left:0;
        z-index:99999;
    }
    .nav-container .menu_block_dropdown .et_categ_box{padding:0 10px 20px}
    .nav-container .menu_block_dropdown .cat-name{
        float:none;
        display:block;
        border:none
    }
    .nav-container .menu_block_dropdown .et_categ_box a {
        display: block;
        outline: none;
        height:auto;
        color: #fff;
        text-decoration: none;
        text-transform:none;
        font-size:12px;
        float:none;
        padding:6px 0 6px 10px;
        border-bottom: dotted 1px #515151;
        line-height: 18px;
        font-weight:bold
    }
    .nav-container .visible_on{display: block}
    .cat-name, .sub-cat-name, .subsub-cat-name{float: none;}
    #drop-box, .drop-box-subcat, .drop-box-subsubcat, .drop-box-3subcat, .drop-box-4subcat{
        position: static;
        display: block !important;
        border: none;
        background: none;
        box-shadow: none;
        padding-top: 0;
        padding-bottom: 0
    }
    .nav-container .menu_block_dropdown .et_categ_box .sub-cat-name a,
    .nav-container .menu_block_dropdown .et_categ_box .subsub-cat-name a{color: #fff !important;font-weight: normal;}
    .nav-container .menu_block_dropdown .et_categ_box .sub-cat-name a:hover,
    .nav-container .menu_block_dropdown .et_categ_box .subsub-cat-name a:hover{text-decoration: underline}


    .drop-box-subcat{padding-left: 0;padding-right: 0}
    .drop-box-subcat .sub-cat-name, .drop-box-subcat .subsub-cat-name{padding-left: 10px}

    .nav-container .menu_block_dropdown .et_categ_box .cat-name a{border: none}
    .nav-container .menu_block_dropdown .et_categ_box a:hover{border: none;background-color:#FF0000;color: #fff !important;}


    .nav-container .menu_block_dropdown .et_categ_box .drop-box-subcat .sub-cat-name a,
    .nav-container .menu_block_dropdown .et_categ_box .drop-box-subcat .subsub-cat-name a{border:none}




    #select_top{display: block;float: left;margin-top: 10px}


    .tabs li { margin-bottom: 3px;}
    .tabs li a {
        padding: 3px;
    }


    .product-tabs li {margin-right: 0}

    .padding-2 {
        padding:10px 0;
        margin:0;
    }
    .shopping_cart {
        float:left;
        margin-top:8px;
    }
    .shopping_cart > .shopping_cart_b > a {
        padding-right:20px;
    }
    #shopping_cart_mini {
        left: 0
    }

    .product-tabs li{display: block;}

    button.button{
        line-height: 14px;
        padding-top: 3px;
        padding-bottom: 3px
    }

    .es-nav span{
        right:36px;
    }
    .es-nav span.es-nav-next{
        right:0;
    }

    .tabs {
        padding-bottom:41px;
    }



    .prod_info_price{text-align: left}
    .prod_info_name h1{margin-bottom: 0}

    .product_info_wrapper{
        clear: both;
        margin-left:0;
        padding-top: 20px
    }
    .prod_info_price{width:auto;}
    .product_reviews_page .dresscode_button, .product_reviews_page .dresscode_submit,
    .product_reviews_info_page .dresscode_button, .product_reviews_info_page .dresscode_submit{
        margin-left: 10px
    }

    .buttonAction{float: left;}
    .product_reviews_page .dresscode_button, .product_reviews_page .dresscode_submit,
    .product_reviews_info_page .dresscode_button, .product_reviews_info_page .dresscode_submit,
    .product_info_wrapper .dresscode_button, .product_info_wrapper .dresscode_submit{
        margin-left: 0;
        margin-right: 10px
    }
    .product_info_wrapper .dresscode_product_custom_block{
        display: none;
    }
    .product_info_wrapper .left_info{width: 100%}
    .tabs div a, .tabs div span{
        margin-left: 0;
        margin-right: 0
    }
    .tabs div span{
        padding-left:3px;
        padding-right:2px;
        padding-top: 2px
    }

    .tabs{
        margin-left: -4px
    }
    .tabs div a{
        font-size: 14px
    }
    #drop-box, .drop-box-subcat, .drop-box-subsubcat, .drop-box-3subcat, .drop-box-4subcat{border: none!important;}

    .product_info_wrapper .left_info{width: 90%}
    .product_img_wrapper{
        margin: 0 auto;
        width: 250px;
        float: none;
        clear: both;
    }
    .product_info_wrapper .left_info{
        float: none;
        margin: 0 auto;
        text-align: left
    }

    .form_1{
        position: static;
    }

    .product_wrapper,
    .product{
        margin:0 25px 20px !important;
        width:250px !important;
    }
    .productListingHeader1 .padding0{text-align: center}
    .product_wrapper{
        margin: 0 auto !important ;
        float: none!important;
    }

    .default_page .product{
        margin:0 auto 20px !important ;
    }

    #newproducts_activate{margin-left: 0}



}




