body:not(.index) #slider_top,
body:not(.index) #slogan,
body:not(.index) div.blog-widget.parallax,
body:not(.index) div.brands.carouFredSel {
  display: none;
}
body.login #tr1 > td > b {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 31px;
  margin: 0 0 20px;
  outline: 0 none;
  text-transform: uppercase;
  vertical-align: baseline;
}
body.checkout h2.margin {
  display: none;
}
body.checkout img[src$="cross.gif"] {
  display: none;
}
body.checkout_success form[name="order"] td[colspan="3"] > table {
  margin: 20px 0;
}
body.checkout_success .tab-checkout-success td.main {
  line-height: 20px;
  padding: 10px;
}
body.checkout_success .tab-checkout-success td.main .productsNotifications {
  margin: 10px;
  padding: 10px;
}
td.infoBoxHeading {
  background-color: #333333;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 17px;
  padding: 4px 9px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}
body.shopping_cart table.productListing.productListingTpl2 td.infoBoxHeading {
  background-color: #333333;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 17px;
  padding: 4px 9px;
  font-family: "Open Sans", sans-serif;
  display: table-cell;
}
body.shopping_cart table.productListing.productListingTpl2 td.infoBoxHeading,
body.shopping_cart table.productListing.productListingTpl2 td.productListing-data {
  text-align: center;
}
td.infoBoxHeadingLogin {
  background-color: #333333;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 17px;
  padding: 4px 9px;
  font-family: "Open Sans", sans-serif;
}
td.infoBoxHeadingLogin:last-child {
  display: none;
}
div#bodyContent .maincat_title h1 {
  height: 29px;
}
div#bodyContent td.pageHeading {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 31px;
  margin: 0 0 20px;
  outline: 0 none;
  text-transform: uppercase;
  vertical-align: baseline;
}
div#bodyContent td.pageHeading img {
  display: none;
}
div#bodyContent td.smallText a {
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
}
div#bodyContent > a.headerNavigation {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  line-height: 31px;
  text-decoration: none;
}
.productListing-data {
  vertical-align: middle;
}
td[background="images/template/infoboxbg.jpg"] {
  display: none;
}
td.smallText a {
  font-weight: bold;
}
td[bgcolor="#000000"],
td[bgcolor="#FF0000"] {
  background: none repeat scroll 0 0 transparent;
}
div#columnLeft {
  width: 250px;
}
div#columnLeft > table {
  margin-bottom: 20px;
}
div#columnLeft td.boxText p.cat {
  background: url("../dresscode_theme/dresscode_images/bkg_block-layered-dt.gif") no-repeat scroll 0 12px rgba(0, 0, 0, 0);
  background-position: left calc(9px);
  margin-left: 0;
}
div#columnLeft td.boxText p.cat a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 17px;
  font-size: 12px;
  line-height: 25px;
}
.breadcrumbs_box {
  padding: 7px 0 16px;
}
.breadcrumbs_box a {
  text-decoration: none;
}
.breadcrumbs_box .headerNavigation {
  font-size: 12px;
  color: #767676;
  font-weight: normal;
  text-transform: uppercase;
  background: url('../dresscode_theme/dresscode_images/marker_breadcrumbs.gif') right 5px no-repeat;
  margin-right: 10px;
  padding-right: 10px;
}
.breadcrumbs_box .headerNavigation:last-child {
  background: none;
}
.breadcrumbs_box a.headerNavigation1:hover {
  text-decoration: underline;
}
.sbHolder {
  visibility: hidden;
}
#footer .footer_information .infoBoxHeading {
  background-color: #151515;
  width: 93%;
}
#footer .footer_information td.boxText a {
  text-transform: uppercase;
  line-height: 18px;
  color: #959595;
  font-weight: normal;
}
#footer .omega .newsletter_footer {
  float: none;
}
#footer .omega .newsletter_footer .newsletter_footer_input {
  float: none;
  width: 100%;
}
#footer .omega .newsletter_footer .newsletter_footer_input input {
  margin-bottom: 10px;
  width: 272px;
}
#footer .omega .newsletter_footer .newsletter_footer_input input[type="submit"] {
  background-color: #FF0000;
  width: 102px;
  color: #fff;
  float: right;
  border-radius: 3px;
}
#footer .omega .social_icons {
  overflow: visible;
}
#footer h3 {
  padding: 8px 0 8px 16px;
  font-weight: bold;
}
#footer .alpha.footer_information table.columnBoxContents img[src$="images/pixel_trans.gif"] {
  display: none;
}
div#columnLeft table {
  margin-bottom: 0;
}
div#columnLeft .infoBoxHeading {
  margin-bottom: 0;
  background-color: #333333;
  color: #fff;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  width: 232px;
  padding: 4px 9px;
  text-transform: uppercase;
}
div#columnLeft .infoBoxHeading h3 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
div#columnLeft .ui-widget-content {
  border: none;
}
