/*
  $Id: stylesheet.css,v 1.56 2003/06/30 20:04:02 hpdl Exp $
*/
/*.boxText { font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size: 14px; }*/
.boxText{font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size: 11px; color:#ffffff; font-weight:bold;  line-height:1.5em; text-align:left; text-decoration: none;}
.boxText a{font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size: 11px; color:#ffffff;   font-weight:bold;  text-align: left; text-decoration: none;}
span.style1{ 
	color:#ffffff; 
	text-decoration:underline;
	font-size: 14px;
}
p.cat {
font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
font-size: 11px; 
color:#ffffff; 
font-weight:bold; 
line-height:1.5em; 
text-indent:-5px;
margin-left:5px;
margin-top:-7px;
margin-bottom:-7px;
margin-right:0px;
padding:0px;
}
.errorBox { font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size : 10px; background: #111111; font-weight: bold; }
.stockWarning { font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size : 10px; color: #ffffff ; }
.productsNotifications { background: #111111; }
.orderEdit { font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size : 10px; color: #ff0000; text-decoration: underline; }
BODY {
  color: #ffffff;
  margin: 0px;
}
A {
  color: #ffffff;
  text-decoration: none;
}
A:hover {
  color: #ffffff;
  text-decoration: underline;
}
FORM {
	display: inline;
}
TR.header {
  background: #111111;
}
TR.headerNavigation {
  background: #bbc3d3;
}
TD.headerNavigation {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 10px;

  font-weight : bold;
}
A.headerNavigation { 
  color: #ffffff; 
  font-weight:bold;
 font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 11px;
  
}
A.headerNavigation:hover {
  color: #ffffff;
   font-weight:bold;
   font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
    font-size: 11px;
}
TR.headerError {
  background: #ffffff;
}
TD.headerError {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 12px;
  background: #ffffff;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}
TR.headerInfo {
  background: #00ff00;
}
TD.headerInfo {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 12px;
  background: #00ff00;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
TR.footer {
  background: #ffffff;
}
TD.footer {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 11px;
  background: #ffffff;
  color: #ffffff;
  font-weight: bold;
}
a.footer{
font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 11px;
  background: #ffffff;
  color: #ffffff;
  font-weight: bold;
   
  }
  a.footer:hover{font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 11px;
  background: #ffffff;
  color: #ffffff;
  font-weight: bold;
}
.infoBox {
  background: #111111;
}
.infoBoxl {
  background: #111111;
}

.infoBox2 {
  background: none;
}
.infoBoxl2 {
  background: none;
}
.infoBoxContents {
 
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 11px;
  color: #ffffff;
   /* ag edit - remove background for currency box - *background: #000000;*/
   text-decoration: none;
}
.infoBoxContents a {
 
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 11px;
  color: #ffffff;
   background: #252525;
   text-decoration: none;
}

.infoBoxContents2 {
 
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 11px;
  color: #666;
 background: none;
   text-decoration: none;
}
.infoBoxContents2 a {
 
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 11px;
  color: #666;
   background: none;
   text-decoration: none;
}


.infoLeftBoxContents {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
  line-height:1.5em;
   text-align:left;
    background: #252525;
}
.infoLeftBoxContents a {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
  line-height:1.5em;
   text-align:left;
    background: #252525;
}
.columnBox{background: #252525;}
.columnBoxContents{
	background: ;
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 10px;}
.infoBoxNotice {
  background: #FF8E90;
}
.infoBoxNoticeContents {
  background: #FD0000;
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 10px;
}
td.infoBoxHeadingLogin
{
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; 
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	padding:0px;
	text-align:center;
	background: #000000;
}
TD.infoBoxHeading {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; 
	font-size: 14px;
	font-weight: bold;
	background: #252525;
	color: #ffffff;
	/*text-transform: uppercase;*/
}
TD.infoBox, SPAN.infoBox {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 10px;
}
TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
  background: #ffffff;
  
}
TR.productListing-odd{ background: #ffffff; border-bottom:1px solid #666666;}
TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
  background: #ffffff;
}
TR.productListing-even{background: #ffffff; border-bottom:1px solid #666666;}
TABLE.productListing {
  border: 0px;
  border-style: solid;
  border-color: #111111;
  border-spacing: 0px;
}
.productListing-heading {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 10px;
  background: #666666;
  color: #FFFFFF;
  font-weight: bold;
}
TD.productListing-data {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 10px;
  width: 25%;
  background: #252525;
  color: #FFFFFF;
   border: 0px;
  border-style: solid;
  border-color: #252525;
  border-spacing: 0px;
}
TD.productListing-data a {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 10px;
  width: 25%;
  background: #252525;
  color: #FFFFFF;
    border: 0px;
  border-style: solid;
  border-color: #252525;
  border-spacing: 0px;
}
A.pageResults {
  color: #ffffff;
}
A.pageResults:hover {
  color: #ffffff;
  background: #111111;
}
TD.pageHeading, DIV.pageHeading {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
TR.subBar {
  background: #f4f7fd;
}
TD.subBar {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 10px;
  color: #ffffff;
}
TD.main, P.main {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
 /* background: #111111; ag edit- removed for options8*/
  border:0px;
}
TD.smallText, SPAN.smallText, P.smallText {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 13px;
  
  color:#ffffff;
}
TD.accountCategory {
  font-family:Arial;
  font-size: 13px;
  color: #aabbdd;
}
TD.fieldKey {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 12px;
  font-weight: bold;
}
TD.fieldValue {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 12px;
}
TD.tableHeading {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 12px;
  font-weight: bold;
}
SPAN.newItemInCart {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 12px;
  color: #ffffff;
}
CHECKBOX, INPUT, RADIO, SELECT {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 12px;
}
TEXTAREA {
  width: 100%;
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 11px;
}
SPAN.greetUser {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 12px;
  color: #f0a480;
  font-weight: bold;
}
TABLE.formArea {
  background: #f1f9fe;
  border-color: #7b9ebd;
  border-style: solid;
  border-width: 1px;
}
TD.formAreaTitle {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  font-size: 12px;
  font-weight: bold;
}
SPAN.markProductOutOfStock {
  font-family:Arial;
  font-size: 12px;
  color: #c76170;
  font-weight: bold;
}
SPAN.productSpecialPrice {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size:larger;
  width:140px;
}
SPAN.errorText {
  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
  color: #ffffff;
}
.moduleRow { }
.moduleRowOver { background-color: #252525; cursor: pointer; cursor: hand; }
.moduleRowSelected { background-color: #252525; }
.checkoutBarFrom, .checkoutBarTo { font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent { font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size: 10px; color: #ffffff; }
/* message box */
.messageBox { font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size: 10px; background-color: #111111; }
.messageStackSuccess { font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size: 10px; background-color: #99ff00; }
/* input requirement */
.inputRequirement { font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; font-size: 10px; color: #ffffff; }
A.subcatheader {
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;
	background-color: #111111; 
}
A.viewallsubcat {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	color: #ffffff;
	font-size: 11px;
	text-decoration: underline;
	background-color: #111111; 
}
.subcatimages {
font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
color: #ffffff;
font-size: 11px;
padding: 4px;
width:100%;
height:auto;
 max-width: 235px;
 max-height:275px;
  background-color: #252525; 
}

.subcatimages2 {
font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
color: #ffffff;
font-size: 11px;
padding: 0px;
width:140px;
height:auto;
 max-width: 140px;
background-color: #252525; 
}
.subcatimages a{
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	color: #ffffff;
	font-size: 11px;
	background-color: #252525; 
}
.subcat{ 
  background:#111111;
  text-align:center;
}
.cat_title {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	color: #FFFFFF;
	background: #111111;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	padding: 1px;
}
.cat_title a {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif; 
	color: #FFFFFF;
	font-size: 11px; 
	font-weight: bold; 
	text-decoration: underline;
	}
	
.cat_list {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	color:#ffffff;
	font-size: 11px;
	font-weight:bold;
}
a.cat_list {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	/*color: #ffffff;*/
	color:#ffffff;
	font-size: 11px;
	font-weight: bold; 
	/*text-transform:capitalize;*/
	text-decoration: underline;
}
   .maincat_title h1 {
   	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	border: 0px ;
	background: #252525;
	color: #ffffff ;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 14px; 
	font-weight: bold; 
	height: 18px;
	margin: 0px;
}
    h1 {
   	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	color: #ffffff;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 14px; 
	font-weight: bold; 
	height: 18px;
	margin: 0px;
}
.mainpage_cat {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	color:#ffffff;
	background: #252525;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border: 0px solid #252525;
}
.mainpage_cat a {
	font-family:Arial; 
	/*color: #7C8894;*/
	color:#ffffff;
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none;
	padding-left: 5px;
	border: 0;
	}
	
.mainpage_catimage {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	color:#7C8894;
	background: #111111;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border: 1px solid #79838F;
}
.mainpage_catimage a{
	padding: 0px;
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	color:#7C8894;
	background: #111111;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border: 0;
}
.mainpagecat_list {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	color: #ffffff;
	font-size: 11px
}
a.mainpagecat_list {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	color: #ffffff;
	font-size: 11px;
	font-weight:bold;
	/*text-transform:capitalize;*/
	text-decoration: underline;
}	
td.description {
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
    font-size: 12px;
    text-align: left;
    border:0px solid #111111;
    padding:5px;
}
td.xcell{
		border:2px solid #e9e9e9;
		background:#ffffff;
		  text-align:left;
		}
td.xcellImage{
		}		
table.xcell{
		background:#ffffff;
		padding:7px;
		  text-align:left;
}
a.xcell{font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
		font-size: 10px;
		color:#515453;
		  text-align:left;
	}
a.xcell:hover{
	font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
    font-size: 10px;
	color:#515453;
	  text-align:left;}	
	td.xcellPrice{color:#15222f;font-weight:bold;}
	
	ul.productOption{
	margin:0px;
	padding-left:0px;
	text-align:left;
	/*list-style:url(../images/template/ul_circle.gif) inside;*/
	vertical-align:middle;
	list-style-type:disc;
	list-style-position:inside;
	}
	li.productOption{padding-left:3px;}
	table.productInfo{
	border:0px solid #252525;
	 background:#252525;
	  padding-left:7px;
	    text-align:left;
	  }
	  span.productName{
	  font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	  font-size:16px;
	  font-weight:bold;
	   text-align:left;
	  }
	  td.productPrice{font-family:  'Exo', 'Titillium Web', 'Dosis', 'Abel',  'Ropa Sans', 'Gudea',  sans-serif;
	  font-size:14px;
	  font-weight:bold;
	  text-align:left;}
	  table.ProductInfoBox{background:#252525;
	  text-align:left;
	  padding:7px;
	  }
	td.setSize {width:150px;}
	.BoxH{height:230px;}

	/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0; font-size:18px; font-weight:bold; color:#FFFFFF;}
#container{
	max-width:980px;
	margin:0 auto;
	padding-bottom:0px;
}

#banner-fade,
#banner-slide{
	margin-bottom: 0px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#333333;
	color:#e9e9e9;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#ffffff;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#ffffff;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(0,0,0,0.7);
}

.productimages{
	max-width: 450px;}