@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);
@import url(http://fonts.googleapis.com/css?family=Molengo);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Carme);

@font-face {
    font-family: 'Archivo Narrow';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/Archivo_Narrow/ArchivoNarrow-Regular.ttf');
    src: url('../../fonts/Archivo_Narrow/ArchivoNarrow-Regular?iefix') format('eot'),
        url('../../fonts/Archivo_Narrow/ArchivoNarrow-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Archivo Narrow';
    font-weight: normal;
    font-style: italic;
    src: url('../../fonts/Archivo_Narrow/ArchivoNarrow-Italic.ttf');
    src: url('../../fonts/Archivo_Narrow/ArchivoNarrow-Italic?iefix') format('eot'),
        url('../../fonts/Archivo_Narrow/ArchivoNarrow-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Archivo Narrow';
    font-weight: bold;
    font-style: normal;
    src: url('../../fonts/Archivo_Narrow/ArchivoNarrow-Bold.ttf');
    src: url('../../fonts/Archivo_Narrow/ArchivoNarrow-Bold?iefix') format('eot'),
        url('../../fonts/Archivo_Narrow/ArchivoNarrow-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Archivo Narrow';
    font-weight: bold;
    font-style: italic;
    src: url('../../fonts/Archivo_Narrow/ArchivoNarrow-BoldItalic.ttf');
    src: url('../../fonts/Archivo_Narrow/ArchivoNarrow-BoldItalic?iefix') format('eot'),
        url('../../fonts/Archivo_Narrow/ArchivoNarrow-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Scada';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/Scada/Scada-Regular.ttf');
    src: url('../../fonts/Scada/Scada-Regular?iefix') format('eot'),
        url('../../fonts/Scada/Scada-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Scada';
    font-weight: normal;
    font-style: italic;
    src: url('../../fonts/Scada/Scada-Italic.ttf');
    src: url('../../fonts/Scada/Scada-Italic?iefix') format('eot'),
        url('../../fonts/Scada/Scada-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Scada';
    font-weight: bold;
    font-style: normal;
    src: url('../../fonts/Scada/Scada-Bold.ttf');
    src: url('../../fonts/Scada/Scada-Bold?iefix') format('eot'),
        url('../../fonts/Scada/Scada-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Scada';
    font-weight: bold;
    font-style: italic;
    src: url('../../fonts/Scada/Scada-BoldItalic.ttf');
    src: url('../../fonts/Scada/Scada-BoldItalic?iefix') format('eot'),
        url('../../fonts/Scada/Scada-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf');
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Regular?iefix') format('eot'),
        url('../../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: normal;
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-ExtraLight.ttf');
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-ExtraLight?iefix') format('eot'),
        url('../../fonts/Source_Code_Pro/SourceCodePro-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Light.ttf');
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Light?iefix') format('eot'),
        url('../../fonts/Source_Code_Pro/SourceCodePro-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Medium.ttf');
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Medium?iefix') format('eot'),
        url('../../fonts/Source_Code_Pro/SourceCodePro-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Semibold.ttf');
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Semibold?iefix') format('eot'),
        url('../../fonts/Source_Code_Pro/SourceCodePro-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-style: normal;
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Bold.ttf');
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Bold?iefix') format('eot'),
        url('../../fonts/Source_Code_Pro/SourceCodePro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: normal;
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Black.ttf');
    src: url('../../fonts/Source_Code_Pro/SourceCodePro-Black?iefix') format('eot'),
        url('../../fonts/Source_Code_Pro/SourceCodePro-Black.ttf') format('truetype');
}
/*------- Revolution Slider -------*/

/*--------- Slider 5 ---------------*/
.tp-banner-container { position: relative; text-align:center;}

.tparrows.default {
    cursor: pointer;
    background-image: url(../../image/slider_nav.png) !important;
	background-repeat:no-repeat;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 70px !important;
    height: 50px !important;
    line-height: 28px;
    border: 3px solid #fff;
    color: #444;
    font-weight: bold;
    -webkit-transition: background-color 0.2s, border-color 0.2s, opacity 0.2s !important;
    -moz-transition: background-color 0.2s, border-color 0.2s, opacity 0.2s !important;
    -o-transition: background-color 0.2s, border-color 0.2s, opacity 0.2s !important;
    -ms-transition: background-color 0.2s, border-color 0.2s, opacity 0.2s !important;
    transition: background-color 0.2s, border-color 0.2s, opacity 0.2s !important;
}
.tparrows:hover {
    color: #fff !important;
    border-color: #f0877c !important;
    background-color: #f0877c !important;
}

.tparrows.tp-leftarrow.default { 
    background-position: 26px 16px;
}
.tparrows.tp-rightarrow.default { 
    background-position: 30px -35px;
    margin-left: 1px;
}
.black-tparrow .tparrows.default {
    border-color: #444;
}
.black-tparrow .tparrows.tp-leftarrow.default { 
    background-position: 26px -85px;
}
.black-tparrow .tparrows.tp-rightarrow.default { 
    background-position: 30px -133px;
    margin-left: 1px;
}
.tp-banner button.button {
    height: 50px;
    margin-top: 20px;
    padding: 0;
    background: transparent;
    text-shadow: none !important;
}
.tp-banner button.button span {
    height: 50px;
    font-size: 23px; 
    padding: 0 20px; 
    line-height: 48px; 
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.tp-banner button.button.white span { 
    color: #fff; 
    border-color: #fff; 
}
.tp-banner button.button.black span { 
    color: #444;
    border-color: #444; 
}
.tp-banner button.button span span { 
    padding: 0;
}
.tp-banner button.button:hover span { 
    color: #fff; 
    border-color: #f0877c;
	background-color:#f0877c;
}
.header-white-80 {
    font-family: 'Archivo Narrow';
    font-weight: normal;
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    border-top: 6px solid #fff;
    padding: 10px 20px;
    line-height: 80px;
    margin: 0 auto;
    display: inline-block;
}
.bottom-white-split {
    margin: 15px auto 25px;
    height: 6px;
    width: 80px;
    background: #fff;
    border: 0;
    padding: 0;
}
.caption-white-15 {
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    line-height: 25px;
}
.header-black-72 {
    font-family: 'Archivo Narrow';
    font-weight: normal;
    font-size: 72px;
    color: #444;
    text-transform: none;
    border-top: 6px solid #444;
    padding: 10px 20px;
    line-height: 80px;
    margin: 0 auto;
    display: inline-block;
}
.bottom-black-split {
    margin: 15px auto 25px;
    height: 6px;
    width: 80px;
    background: #444;
    border: 0;
    padding: 0;
}
.caption-black-15 {
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-size: 15px;
    color: #444;
    text-transform: uppercase;
    line-height: 25px;
}
.header-black-65 {
    font-family: 'Archivo Narrow';
    font-weight: normal;
    font-size: 65px;
    color: #444;
    text-transform: none;
    border-top: 6px solid transparent;
    padding: 10px 20px;
    line-height: 80px;
    margin: 0 auto;
    display: inline-block;
}
.header-black-35 {
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-size: 35px;
    color: #444;
    text-align: left;
    line-height: 40px;
}
.caption-block-17 {
    font-family: 'Scada';
    font-weight: normal;
    font-size: 17px;
    color: #666;
    line-height: 32px;
    border: 2px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0 10px;
    background-color: #f7f7f7;
}
.header-black-36 {
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-size: 36px;
    color: #444;
    line-height: 36px;
}
.caption-black-17 {
    font-family: 'Scada';
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    color: #444;
    text-align: left;
}
button.button {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-shadow: none;
    width: auto;
}
button.button span {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #666;
    border-radius: 3px;
    color: #666;
    display: block;
    font: bold 13px/28px 'Scada',Helvetica,sans-serif;
    height: 30px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 200ms ease-in-out 0s, color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    white-space: nowrap;
}
button.button span span {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none;
    padding: 0;
}
/*-------- Slider 8 --------------*/
.tp-caption.white_light_text {
    color: #f2f2f0;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 40px !important;
    text-transform: uppercase;
}
.tp-caption.small-button {
    background: none repeat scroll 0 0 #dad9d9;
    font-family: 'Molengo',sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 35px;
    padding: 0 20px;
}
.tp-caption.small-button a, .tp-caption.small-button a:hover {
    color: #2a2a2a;
    text-transform: uppercase;
}
.tp-simpleresponsive a {
    text-decoration: none;
}
.tp-caption a {
    text-shadow: none;
    transition: all 0.2s ease-out 0s;
}.tp-caption.small-button {
    font-family: 'Molengo',sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 35px;
}
.tp-caption.white_more_small_text {
    font-family: 'Arial',sans-serif;
    font-size: 15px;
    line-height: 1.3;
    position: absolute;
}

.tp-caption {
    z-index: 1;
}
.tp-caption.custom_text {
    border-style: none;
    border-width: 0;
    color: #ffffff;
    font-family: 'Arial',sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    position: absolute;
    white-space: nowrap;
}
.tp-caption.small-button:hover {
    background: none repeat scroll 0 0 #add4d9;
}.tp-caption.green_light_text {
    color: #add4d9;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}
.tp-caption.white_tall_text {
    color: #f2f2f0;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 95px;
    text-transform: uppercase;
}
.tp-caption.green_medium_text {
    color: #add4d9;
    font-family: 'Carme',sans;
    font-size: 65px;
    text-transform: uppercase;
}
.tp-caption.white_medium_text {
    color: #e1e0e0;
    font-family: 'Molengo',sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}
/*-----------END SLIDESHOW-------------*/
